/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 10;
  display: block;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #f5f5f5;
  border-right: 1px solid #eee;
}

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}

#company-mask {
  display: none;
  z-index: 1;
  position: absolute;
  top: 485px;
  left: 40px;
  right: 0;
  bottom: 0;
  width: calc(100% - 80px);
  height: calc(100% - 525px);
  .mask {
    width: 100%;
    height: 100%;
    opacity: 0.1;
    background: black;
  }
  .loading-container {
    z-index: 2;
    position: absolute;
    left: 50%;
    top: 50%;
    .loading {
      position: relative;
      transform: translate(-50%,-50%);
      img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50px;
      }
      p {
        text-align: center;
        margin-bottom: 0;
      }
    }

  }
}

.pagination-container {
  p, nav {
    display: inline-block;
    vertical-align: middle;
  }
  nav ul {
    margin-top: 0;
    margin-bottom: 10px;
  }
}

.table-responsive {
  width: 100%;
  th.field-header {
    cursor: pointer;
    &.active span {
      display: inline;
    }
    span {
      display: none;
    }
  }
}

.filter {
  width: auto;
}

.filter-inline {
  display: inline-block;
  width: auto;
  height: 24px;
}

#console {
  z-index: 15;
}